<div class="footer" style="background: #2F4050; color: #fff;">
	<div class="pull-right">
		<%= Time.now.strftime("%F") %>
	</div>
	<div>
		<strong>Copyright</strong> Example Company &copy; 2014-2015
	</div>
</div>