<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; background: #1F3446;">
		<!-- 左侧导航栏收起按钮 -->
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
			<form role="search" class="navbar-form-custom" action="search_results.html">
          <div class="form-group">
              <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
          </div>
      </form>
		</div>
		<!-- 左侧导航栏收起按钮  end-->
		<!-- 右上角消息提示部分 -->
		<ul class="nav navbar-top-links navbar-right">
			<li><span class="m-r-sm text-muted welcome-message" style="color: #fff;">iGrid Total Solution</span></li>
			<li><span class="m-r-sm text-muted welcome-message"><%= Time.now.strftime("%A %R %p")%></span></li>
			<li>
				<%= image_tag "favicon_logo.ico" %>
			</li>
		</ul>
		<!-- 右上角消息提示部分 end-->
	</nav>
</div>