<div class="text-center animated fadeInRightBig clearfix">
  <div class="left-nav">
    <div class="show-picture">
    <%= image_tag "dewatering.png", class: "img-responsive", width:"100%" %>
    </div>
  </div>
</div>