<div class="text-center animated fadeInRightBig clearfix">
  <div class="left-nav">
    <div class="show-picture">
    <%= image_tag "evevator.png", class: "img-responsive",width:"100%" %>
    </div>
    <div class="col-md-4 text-center">
      <table class="eve-table left-table table table-striped">
        <tr>
          <td>启动状态：</td>
          <td>使用</td>
        </tr>
        <tr>
          <td>运行状态：</td>
          <td>停止</td>
        </tr>
        <tr>
          <td>故障报警：</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>上下行：</td>
          <td></td>
        </tr>
        <tr>
          <td>滤水检测：</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>轿厢温度：</td>
          <td>24℃</td>
        </tr>
        <tr>
          <td>负责范围：</td>
          <td>步行街-1F——3F</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 text-center">
      <table class="eve-table center-table table table-striped">
        <tr>
          <td>启动状态：</td>
          <td>使用</td>
        </tr>
        <tr>
          <td>运行状态：</td>
          <td>停止</td>
        </tr>
        <tr>
          <td>故障报警：</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>上下行：</td>
          <td></td>
        </tr>
        <tr>
          <td>滤水检测：</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>轿厢温度：</td>
          <td>24℃</td>
        </tr>
        <tr>
          <td>负责范围：</td>
          <td>步行街-1F——3F</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 text-center">
      <table class="eve-table right-table table table-striped">
        <tr>
          <td>启动状态：</td>
          <td>使用</td>
        </tr>
        <tr>
          <td>运行状态：</td>
          <td>停止</td>
        </tr>
        <tr>
          <td>故障报警：</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>上下行：</td>
          <td></td>
        </tr>
        <tr>
          <td>滤水检测：</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>轿厢温度：</td>
          <td>24℃</td>
        </tr>
        <tr>
          <td>负责范围：</td>
          <td>步行街-1F——3F</td>
        </tr>
      </table>
    </div>
  </div>
</div>