.eve-table {
  width: 60%;
  border: 1px solid #eee;
  margin-top: 20px;
}
.left-table {
  margin-left: 14%;
}
.center-table {
  margin-left: 18%;
}
.right-table {
  margin-left: 23%;
}
.btn-table {
  padding: 30% 0 0 25%;
  table {
    border-radius: 10px;
  }
  td {
    border: 1px solid #7f7f7f;
    padding: 5px;
  }
}
.navbar-right {
  color: #fff;
  margin-top: 20px;
}
.wrapper {
  background-color: #D7D6D7;
}
.gray-bg {
  background-color: #D7D6D7;
}
.light-tab {
  background-color: #f2f2f3;
  margin: 20px;
}
.show-picture {
  padding-top: 40px;
}